.card {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    text-align: center;
    color: #A0937D;
}

.innerCard {
    height: 60%;
    min-height: 230px;
    width: 50%;
    border-radius: 20px;
    background-color: white;
    padding: 2rem 0;
    -webkit-box-shadow: 6px 8px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 6px 8px 5px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 6px 8px 5px 0px rgba(0, 0, 0, 0.75);

}

h3 {
    text-align: center;
}

.input_div {
    padding: 2rem;
    width: 100%;

    p {
        text-align: left;
    }

    input {
        width: 100%;
        padding: 1rem;
        background-color: #E7D4B5;
        outline: none;
        border: none;
    }


}

button {
    padding: 1rem 2rem;
    cursor: pointer;
    background-color: #F6E6CB;
    border: none;

    &:hover{
        opacity: 0.6;
        transition: all 100ms ease-in-out;
    }
}




/* Extra Small */
@media (max-width: 599px) {

    /* Styles for mobile devices */
    .card {
        height: 100%;
        width: 100%;
        text-align: center;
        color: #A0937D;
    }

    .innerCard {
        height: 60%;
        width: 90%;
        padding: 2rem 1rem;

        button {
            margin-top: 5rem;
        }
    }
}

/* Small */
@media (min-width: 600px) and (max-width: 959px) {

    /* Styles for tablets */
    .card {

        height: 100%;
        width: 100%;

    }

    .innerCard {
        height: 50%;
        width: 60%;
        padding: 4rem 3rem;

        button {
            margin-top: 5rem;
        }
    }
}

/* Medium */
@media (min-width: 960px) and (max-width: 1279px) {

    .card {
        height: 100%;
        width: 100%;

    }

    .innerCard {
        height: 30%;
        width: 60%;
        border-radius: 20px;
        background-color: white;
        padding: 2rem 0;

    }
}


/* Large */
@media (min-width: 1280px) {
    /* Styles for widescreen monitors */
}